.course {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    width:50%;
    margin:auto;
    text-align: center;
  }
  .single-course {
    padding: 50px 0px;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s ease;
    background-color: rgb(223, 235, 243);
  }