  /* Start first page  */
  .desc-home {
    padding: 10em;
    background-color: rgba(32, 30, 30, 0.447);
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 200px;
    background-image: url("../../img/backgroundhome.jpg");
    background-size: 100% 100%;
    color: white;
  }
  .search-home {
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
  }
  .parg-home {
    margin-top: 30px;
  }
    /* End first page  */

    /* Start second page  */

  .home-sec {
    text-align: center;
    padding: 50px;
  }
  .h1-sec-home {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 45px;
  }
  .par-sec-home {
    margin-bottom: 50px;
    font-size: 20px;
  }
    /* End second page  */

    /* Start page card */
  .sect-card {
    background-color:rgba(234, 233, 233, 0.23);
    padding: 40px;
  }
  .card {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
    text-align: center;
  }
   .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .single-category {
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s ease;
    background-color: white;
  }
  .categoty-img {
    width: 100%;
    border-radius: 10px;
    height: 60%;
  }
  .cate-title {
    padding: 10px;
  }
  .cate-btn:hover {
    background-color: rgb(253, 242, 229);
  }
    /* End page card */
    
  /* Start Pagination code */
  .center {
    text-align: center;
  }
  
.pagination {
  display: inline-block;
  padding: 10px;
}

.pagination p {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination p.active {
  background-color: rgb(57, 90, 130);
  color: white;
  border-radius: 5px;
}

.pagination p:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}
  /* End Pagination code */

  /* Start Responsive card */
  @media(max-width: 768px) {
    .card{
      grid-template-columns:repeat(2,1fr);
    }
    
  }
  @media(max-width: 480px) {
    .card{
      grid-template-columns:repeat(1,1fr);
    }
    
  }  
 
    /* End Responsive card */
