
.logged-in-list  {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding: 15px 20px;
    flex-wrap: wrap;
    
}
.logged-out-list {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding: 15px 20px;
    flex-wrap: wrap;
    
}
.navbar {
    background-color: #140e00;
}
.home-link, .logout-link , .register-link, .login-link, .aboutUs-link{
    text-decoration: none;
    padding: 19px 25px;
    color: white;
}
.home-link, .logout-link , .register-link:hover, .login-link, .aboutUs-link:hover {
    background-color: #000000;
    color: #bc4b4b;
    transition: 0.5s;
}
.home-link{
    padding: 19px 25px;
}
.login-link {
    padding: 10px 25px;
    border-radius: 50px;
    background-color: #0000ff;
    color: white;
    transition: 0.3s;
}
.login-link:hover {
    background-color: rgb(81, 81, 255);
}
.logout-link {
    padding: 10px 25px;
    border-radius: 50px;
    background-color: rgb(219, 69, 69);
    color: white;
    transition: 0.3s;
}
.logout-link:hover {
    background-color: #bc4b4b;
}
.brand {
    color: white
}
.brand:hover {
    cursor: pointer;
}