
.logged-in-list  {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.logged-out-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}