/* Start footer code */
.footer {
    display: flex;
    justify-content: space-around;
    padding: 15px 20px;
    background-color:#140e00;
    color: white;
    flex-wrap: wrap;
}
.fa-solid  {
    transition: 0.3s;
}
.fa-brands {
    padding: 10px;
    transition: 0.3s ;
}
.fa-brands:hover ,.fa-solid:hover{
    cursor: pointer;
    font-size: large;
}
/* End footer code */
